<!--<h1>Lighthouse Web App</h1>-->
<!--<p>Enter a URL to generate a Lighthouse report:</p>-->
<%#= form_tag lighthouse_results_path do %>
  <%#= text_field_tag :url, nil, required: true %>
  <%#= submit_tag "Generate Report" %>
<%# end %>
